/*Card reveal*/
@keyframes cardreveal{
    from{transform:scale(.5); opacity:0;}
    to{opacity:1;}
}
@keyframes cardhide{
    from{opacity:1;}
    to{transform:scale(.5); opacity: 0;}
}

/*dice animation*/
@-webkit-keyframes spinout {
    0% {transform: rotate(0deg);width: 30px;height: 30px;} 
    100% {transform: rotate(360deg);width: 60px;height: 60px;}
}
@keyframes spinout {
    0% {transform: rotate(0deg);width: 30px;height: 30px;} 
    100% {transform: rotate(360deg);width: 60px;height: 60px;}
}
@-webkit-keyframes relax {
    from {width: 60px;height: 60px;} 
    to {width: 30px;height: 30px;}
}
@keyframes relax {
    from {width: 60px;height: 60px;} 
    to {width: 30px;height: 30px;}
}


/*fadein hoot window*/
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

/*fadeout hoot window*/
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/*logo colour transition*/
@-webkit-keyframes multi {
    0% {color:#d3d3d3;fill:#d3d3d3}
    10% {color:orangered;fill:orangered;}
    25% {color:yellowgreen;fill:yellowgreen;}
    50% {color:#6ccce3;fill:#6ccce3;}
    75% {color:lightgreen;fill:lightgreen;}
    90% {color:orangered;fill:orangered;}
    100% {color:#d3d3d3;fill:#d3d3d3}
}
@keyframes multi {
    0% {color:#d3d3d3;fill:#d3d3d3}
    10% {color:orangered;fill:orangered;}
    25% {color:yellowgreen;fill:yellowgreen;}
    50% {color:#6ccce3;fill:#6ccce3;}
    75% {color:lightgreen;fill:lightgreen;}
    90% {color:orangered;fill:orangered;}
    100% {color:#d3d3d3;fill:#d3d3d3}
}