board{  
	position: absolute; 
    width: 100%;
    height: 100vh;
    background: transparent;
	overflow: hidden;
}
.rotary{
	height: 100%;
	width: 100%;
	display: block;
	margin: 0 auto;
	overflow: hidden;
}
.robj{
	position: absolute;
	display: block;
	background: transparent;
	border: 10px solid rgba(23,246,251, 1.0);
	border-radius:1000px;
	transition: all 0.5s ease;
}

#r1{
    bottom: -100px;
	right: -100px;
	width: 200px;
	height: 200px;
	border-color: #e000c9;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: spin7 4s infinite linear;
}
#r2 {
    bottom: -90px;
    right: -90px;
	width: 180px;
	height: 180px;
	border-color: #7500ad;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: spin2 4s infinite linear;
}
#r3 {
    bottom: -50px;
    right: -50px;
	width: 100px;
	height: 100px;
	border-color: #0049d8;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: spin3 4s infinite linear;
}
#r4 {
    bottom: -30px;
    right: -30px;
	width: 60px;
	height: 60px;
	border-color: #00f2a9;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	animation: spin4 2s infinite linear;
}
#r5 {
    bottom: -20px;
    right: -20px;
	width: 40px;
	height: 40px;
	border-color: #0089ed;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: spin5 2s infinite linear;
}


#r6{
    top: -48px;
	left: -48px;
	width: 140px;
	height: 140px;
	border-color: #0089ed;
	border-left-color: transparent;
	border-top-color: transparent;
	animation: spin4 4s infinite linear;
}
#r7{
    top: -38px;
    left : -38px;
	width: 120px;
	height: 120px;
	border-color: #00f2a9;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: spin5 4s infinite linear;
}
#r8 {
    top: -28px;
    left: -28px;
	width: 100px;
	height: 100px;
	border-color: #009e2c;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: spin6 4s infinite linear;
}
#r9 {
    top: -8px;
    left: -8px;
	width: 60px;
	height: 60px;
	border-color: #d4d800;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	animation: spin7 2s infinite linear;
}
#r10 {
    top: 2px;
    left: 2px;
	width: 40px;
	height: 40px;
	border-color: #c18b00;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: spin8 2s infinite linear;
}

/* Animations */

@keyframes spin {
	0%  {transform: rotate(0deg);}
	10%  {transform: rotate(-25deg);}
	20%  {transform: rotate(47deg);}
	30%  {transform: rotate(-125deg);}
	40%  {transform: rotate(-25deg);}
	50%  {transform: rotate(25deg);}
	60%  {transform: rotate(165deg);}
	70%  {transform: rotate(42deg);}
	80%  {transform: rotate(180deg);}
	90%  {transform: rotate(-300deg);}
	100%{transform: rotate(360deg);}	
}

@keyframes spin2 {
	0%  {transform: rotate(0deg);}
	100%{transform: rotate(360deg);}	
}

@keyframes spin3 {
	0%  {transform: rotate(0deg);}
	60%  {transform: rotate(165deg);}
	70%  {transform: rotate(42deg);}
	100%{transform: rotate(360deg);}	
}

@keyframes spin4 {
	0%  {transform: rotate(0deg);}
	100%{transform: rotate(360deg);}	
}

@keyframes spin5 {
	0%  {transform: rotate(0deg);}
	10%  {transform: rotate(-25deg);}
	20%  {transform: rotate(47deg);}
	30%  {transform: rotate(-125deg);}
	100%{transform: rotate(360deg);}	
}

@keyframes spin6 {
	0%  {transform: rotate(0deg);}
	80%  {transform: rotate(180deg);}
	90%  {transform: rotate(-300deg);}
	100%{transform: rotate(360deg);}	
}

@keyframes spin7 {
	0%  {transform: rotate(0deg);}
	100%{transform: rotate(-360deg);}	
}

@keyframes spin8 {
	0%  {transform: rotate(0deg);}
	100%{transform: rotate(360deg);}	
}

@media screen and (max-width:490px) {
	board{
		display: none;
	}
}