/*Styling for the revealed cards*/
ul {
    -webkit-padding-start: 20px;
}
li{
    margin-bottom: 5px;
}
active{
    color: green;
    font-size: 12px;
}
img{
    width: 180px;
    height: 180px;
}
screen {
    display: none;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    z-index: 20;
    width:100%;
    height:100vh;
    background: rgba(0,0,0,0.1);
    transition: background 0.5s, display 0.05s;
    font-family: 'Open-sans', sans-serif;
}
exit-box{
    height: 90vh;
    z-index: 20;
    -webkit-box-align: center;
}
#exit{
    float:right;
    z-index: 100;
}
#exit:hover svg path{
    fill:rgba(255,0,0,1);
}
#exit:active{
    transform: scale(0.95);
}
box{
    display:flex;display:-webkit-flex; /*Safari*/
    border-radius: 3px;
}
.viewbox {
    width: 615px;
    display: none;

    position: absolute;
    background:transparent;
    padding: 5px;
    height: 88vh;
    overflow: hidden;
    overflow-y: scroll;
}
.cardbox{
    background: #fff;
    padding: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2),
                0 2px 5px 0 rgba(0,0,0,0.19);
    overflow: hidden;
    margin-bottom: 20px;
}
.cardreveal{
    animation: cardreveal 0.5s;
}
.cardhide{
    animation: cardhide 0.5s;
}

/*Specific viewboxes*/
#cv-viewbox{
    display: none;
}
#user-viewbox{
    width: 400px;
    display: none;    
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}
#user-viewbox-photo{
    display: block;
    float: right;
    margin: 0;
    width: 100px;
    height: 100px;
    border: 10px #333;
}
#projects-viewbox{
    width: 500px;
    display: none;
}
#experience-viewbox{
    display: none;   
}
#certificate-viewbox{
    display: none;
    width: 600px;
}
#milestones-viewbox{
    display: none;
}

/*Specific cardboxes*/
.cardbox-title{
    background: #607D8B;
}
.field{
    width: 20px;
    font-size: 12px;
    color: #fff;
}
.data{
    width:100%;
    margin-bottom: 2px;
}
.card-heading-data{
    margin-bottom: 10px;
}
.card-heading{
    color: rgba(0,0,0,0.5);
    font-size: 20px;
}
/*user cardbox*/
#user-cardbox{
    padding: 0;
    flex-flow: column;
}
.user-cardbox-title{
    line-height: 18px;
    background: #607D8B;
    padding: 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#user-cardbox-text{
    padding: 30px;
    line-height: 24.5px;
}
.user-info{
    font-size: 15px;
    font-weight: 700;
}
/*projects cardbox*/
#projects-cardbox{
    flex-flow: column;
}
project-information{
    display:flex;
    display:-webkit-flex; /*Safari*/
}
.projects-cardbox-title{
    background: #fff;
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}
.projects-col{
    width: 50%;
}
#projects-cardbox-text{
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 24.5px;
}
#projects-data{
    margin-bottom: 5px;
}
#projects-title{
    font-size: 25px;
}
#projects-field{
    color: orangered;
    font-size: 11px;
    margin-bottom: 20px;
}
.projects-info{
   display: block;
    margin-top: 4px;
    font-size: 15px;
    color: rgba(0,0,0,0.8);
}
#project-link{color: rebeccapurple;}#project-link:hover{text-decoration: underline;}
.card-section{
    background: #d1d1d1;
    font-size: 12px;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.member{
    font-weight: bold;
    font-size: 14px;
}
.resize{
    background: #d1d1d1;
}
label{
    display: block;
    height: 24px;
}
label svg{
    float: right;
}
.cardbox.projects-cardbox:nth-child(6){
    height: 165px;
}
/*experience cardbox*/
#experience-cardbox{
    height: auto;
}
.experience-cardbox-title{
    width: 30%;
    padding: 15px;
    background: #f5f5f5;
}
.experience-cardbox-text{
    padding: 30px;
    width: 70%;
}
#experience-field{
    color: #607d8b;
}
.experience-info{
    font-size: 14px;
}
/*certificate cardbox*/
#certificate-cardbox{ 
   display:flex;
   display:-webkit-flex; /*Safari*/
}
.certificate-cardbox-title{
    padding: 0;
    border-top-right-radius: 0px;
    width: 70%;
    height: 255px
}
.certificate-cardbox-text{
    background: rgba(96, 125, 139, 0.03);
    padding: 15px;
    width: 40%;
}
#certificate-field{
    font-size: 11px;;
    color:#607d8b;
}
.certificate-info{
    font-size: 13px;
    color: #111;
}
/*milestones cardbox*/
#milestones-cardbox {
    display:flex;
    display:-webkit-flex; /*Safari*/
}
.milestones-cardbox-title{
    width: 30%;
    padding: 15px;
    background: #f5f5f5;
}
.milestones-cardbox-text{
    padding: 20px;
    width: 70%;
}
#milestones-field{
    font-size: 11px;;
    color:#607d8b;
}
.milestones-info{
    font-size: 14px;
    color: #111;
}

/*Scroll bar*/
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(255, 255, 255, 0.5); 
}

@media screen and (max-width:490px) {
    screen{
        height: 100vh;
        width: 100vw;
        background: transparent;
    }
    .viewbox {
        width: 96.5vw;
        top: 30px;
        height: auto;
        overflow: auto;
    }
    exit-box{
        position: static;
        height: auto;
    }
    #exit{
        position: absolute;
        top: 5px;
        right: 20px;
        z-index: 100;
    }

    #user-viewbox, #projects-viewbox,
    #certificate-viewbox{
        width: 96.5vw;
    }

    div#video{padding:0;}
    iframe{
        width: 362px;
        height: 203px;
    }
    /*project cardboxes*/
    .cardbox.projects-cardbox:nth-child(6){
        height: 194px;
    }
    /*experience cardboxes*/
    img{
        width: 100px;
        height: auto;
    }
    .experience-cardbox-text{
        padding: 20px;
        width: 100%;
    }
    .experience-cardbox-title {
        display: none;
    }
    #experience-cardbox{
        height: auto;
    }
    /*certificate cardboxes*/
    .certificate-cardbox-title{
        display: none;
    }
    .certificate-cardbox-text{
        width: 100%;
    }

}