html, body {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    background: linear-gradient(#696969 -190%,#fff); 
    margin: 0;
    height: 100vh;
    overflow:hidden;
}
a{
    text-decoration: none;
}
.tooltip {
    visibility: hidden;
    font-size: 10px;

    background-color: rgba(0,0,0,0.7);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    margin: 10px;
    z-index: 1;
}
tip:hover .tooltip {
    visibility: visible;
    animation: tooltipin 0.5s;
}
header {
    position: fixed; 
    right: 0;
    top: 0;
    left: 0;
    padding: 1rem;
    /*background-color:lightseagreen;*/
    z-index:10;
}
#dice svg{
    width: 30px;
    height: 30px;
}
.spin{
    -webkit-animation: spinout 0.5s, relax 0.5s;
    animation: spinout 0.5s, relax 0.5s;
}
datetime {
    float: right;
    font-family: 'Audiowide', cursive;
    color:rgba(0,0,0,0.6);
    font-size: 13px;
    font-weight: 100;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    z-index:10;
    font-size: 11px;
}
credits {
    float: left;
    background-color: transparent;
    border-radius: 3px;
    right: 10px;
    padding: 10px;
    font-weight: 700;
    font-family: 'Meddon', cursive;
}
.logo {
    display:flex;
    display:-webkit-flex; /*Safari*/
    flex-direction: column;
    color: rgba(0,0,0,0.8);
    text-decoration: none;
    transition: all 0.5s ease 0.2s;
}
credits:hover .logo{
    animation: multi 5s infinite;
}
info {
    float: right;  
    position: absolute;
    bottom: 1rem;
    background-color: rgba(0,0,0,0.8);
    border-radius: 3px;
    right: 10px;
    padding: 10px;
    font-weight: 700;

}
.link{
    color: #d3d3d3;
    text-decoration: none;
}
.bull {
    padding: 0 5px;
    color: #555;
}
#email:hover{color:#6ccce3}
#github:hover{color:grey}
#facebook:hover{color:#3B5998}
#linkedin:hover{color:#0077b5}

cards {
    display:flex;
    display:-webkit-flex; /*Safari*/
    flex-direction: column;
    position: absolute; 
    right: 0;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 95%; 
    height: 100vh;
    z-index:0;

    align-items: center;
    justify-content: center;
}
row {
    display:flex;
    display:-webkit-flex; /*Safari*/
    justify-content:center;
    align-items:center;
    width: 100%;
}
.card {
    color: #fff;
    font-weight: 500;
    text-align: center;
    display:flex;
    display:-webkit-flex; /*Safari*/
    flex-direction: column;
    border: 0px solid transparent;
    border-radius: 2px;
    width: 185px;
    height: 200px;
    margin: 5px;
    padding: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),
                0 2px 5px 0 rgba(0,0,0,0.19);
    transition: all 0.5s ease 0.02s;
}
.card:hover {
    border: 0px solid transparent;
    transform: translate3d(0,0,1px);
    z-index:8;
    background: rgba(0,0,0,0.5);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),
                0 6px 20px 0 rgba(0,0,0,0.19);
}
.billboard {
    height:100%;
    width:100%;
    display:flex;
    display:-webkit-flex; /*Safari*/
    align-items: center;
    justify-content: center;

}
icon{
    position:absolute;
    display: block;
    height:24px;
}
/*Specific cards*/
#user{
    background-color: transparent;
    box-shadow: none;
}
#user:hover photo{
    transform: scale(.97);
}
photo{
    margin:0 auto;
    width:120px;
    height: 120px;
    border-radius:140px;
    border: 10px solid #607D8B;
    background-image: url(../images/img001.jpg);
    background-size: contain;
    transition: transform .3s cubic-bezier(.5,2,.5,.7);
}
name{
    font-weight: bold; 
    margin: 10px auto;
    color: rgba(0,0,0,0.5);
}
sub-title{
    font-weight: bold;  
    font-weight: 600;
    font-size: 12px;
    margin: 5px auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#resume{
    background:lightseagreen;
}
#resume:hover{
    background:rgb(37,199,190);
}
#projects{
    background: orangered;
}
#projects:hover{
    background:rgb(254, 101, 45);
}
#experience{
    background:rgb(125, 56, 125);
}
#experience:hover{
    background:rgb(160, 74, 160);
}
#certificate{
    background: rgb(0, 137, 237);
}
#certificate:hover{
    background:rgb(50, 168, 255);
}
#milestones{
    background:rgb(233, 30, 99);
}
#milestones:hover{
    background:rgb(255, 83, 141);
}

/*Messages from system*/
#hoot {
    display:flex;
    display:-webkit-flex; /*Safari*/
    align-items: center;
    justify-content: center;

    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    
    border-radius: 100px;
    padding: 1rem;
    position: fixed;
    z-index: 100;
    left: 50%;
    bottom: 30px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}
#hoot svg{
    margin-left: 10px;
}
#hoot.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


#mobile-user-tab{
    display: none;
    border: 0px solid transparent;
    height: 100px;
    width: 90%;
    margin: 5px;
    padding: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),
                0 2px 5px 0 rgba(0,0,0,0.19);
    transition: all 0.5s ease 0.02s;
}
pseudo-head{
    display: none;
    position: relative; 
    height: 66px;
    background: transparent;
    transition: all 0.5s;
    z-index: 8;
}
blur-head{
    display: none;
    position: absolute;
    height: 66px;
    width: 100%;
    background: rgba(0, 0, 0, 0.01);
    transition: all 0.5s;
    filter: blur(3px);
    z-index: 9;
}
/*-------------------MEDIA--------------------*/
@media screen and (max-width:490px) {
    html,body{
        height: auto;
        overflow:auto;
    }
    header{
        position:absolute;
    }
    pseudo-head{
        display: block;
    }
    blur-head{
        display: block;
    }
    footer{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        display: -webkit-flex;
        -webkit-flex-direction: column-reverse;
        -webkit-align-items: center;
        -webkit-justify-content: center;
    }
    credits{
        width: 100%;
        float: none;
        position: relative;
        bottom: auto;
        right: auto;
        text-align: center;
        height: 50px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        -webkit-align-items: center;
        -webkit-justify-content: center;
    }
    info{
        float: none;
        position: relative;
        bottom: auto;
        right:auto;
        margin:10px;
    }
    cards{
        position: relative;
        display: block;
        overflow: hidden;
        height: auto;
    }
    row{
        flex-flow:column;
        -webkit-flex-flow:column; /*Safari*/
    }
    .card{
        position:relative;
        height: 100px;
        width:90%;
        margin-bottom:10px;
    }
    #mobile-hide{
        display: none;
    }
    #mobile-user-tab{
        display: flex;
        align-items: center;
        display: -webkit-flex;
        margin-bottom:10px;
        -webkit-align-items: center;
        background-color: transparent;
        box-shadow: none;
        
    }
    #mobile-user-tab:hover photo{
        transform: scale(.97);
    }
    name{
        margin-left:0px;
    }
    photo{
        margin-left: 10px;
        margin-right: 40px;
        width: 70px;
        height: 70px;
        border-radius: 140px;
        border: 3px solid #607D8A;
    }
    #hoot{
        background-color: rgba(0,0,0,0.9);
        left:50%;
        right:50%;
        margin-left:-140px;
    }
}

@media screen and (max-height:550px) {
    html, body{
        height: auto;
        overflow: auto;
    }
    header {
        position: relative;
    }
    footer {
        position: relative;
        
    }
    cards{
        position: relative;
        height: auto;
    }
    info{
        position: relative;
        bottom:auto;
        right: auto;
    }
    board{
        display: none;
    }
}

@media screen and (max-height:550px) and (max-width: 490px){
    header{
        position: absolute;
    }
}